<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}"></head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>
	<div class="container my-4">
		<main>
			<div class="card">
				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">
					<form th:action="@{/factura/form}" th:object="${factura}" method="post">
						<div class="mb-3">
							<label for="nombre" class="form-label" th:text="'Cliente'"></label>
							<input type="text" class="form-control" id="descripcion"
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								disabled="disabled">
						</div>
						<div class="mb-3">
							<label for="nombre" class="form-label" th:text="'Descripción'"></label>
							<input type="text" class="form-control" id="descripcion" th:field="*{descripcion}"
								th:errorclass="'border border-danger'" aria-describedby="descripcion">
							<div class="alert alert-danger my-3" role="alert"
								th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
						</div>
						<div class="form-floating">
							<textarea class="form-control" placeholder="Leave a comment here" id="observacion"
								th:field="*{observacion}" style="height: 100px"></textarea>
							<label for="floatingTextarea2" th:text="'Observación'"></label>
						</div>
						<div class="mb-3">
							<label for="buscar_producto" class="form-label" th:text="'Buscar producto'"></label>
							<input type="text" class="form-control" id="buscar_producto" name="buscar_producto"/>
						</div>
						<table th:replace="~{factura/plantilla-items :: itemsFactura}"></table>
						<table class="table table-sm table-striped table-hover" id="cargarItemProductos">
						  <thead>
						    <tr>
						      <th scope="col">Nombre</th>
						      <th scope="col">Precio</th>
						      <th scope="col">Cantidad</th>
						      <th scope="col">Total</th>
						      <th scope="col">Eliminar</th>
						    </tr>
						  </thead>
						  <tbody>						   
						  </tbody>
						</table>
						<div class="d-flex justify-content-end">
							<h5>Total de la factura <span class="badge bg-secondary" id="gran_total"></span></h5>
						</div>
						
						<button type="submit" th:text="${titulo}" class="btn btn-primary my-2"></button>
						<a th:href="@{'/ver/' + ${factura.cliente.id}}" th:text="'&laquo; volver'" class="btn btn-secondary my-2"></a>
					</form>
				</div>
			</div>
		</main>
	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>
	<script type="text/javascript" th:replace="~{factura/js/autoComplete-productos :: js}"></script>
</body>

</html>