<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		th:crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"><link>-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Roan-Coder</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
						<a class="nav-link" th:href="@{/listar}">Clientes</a>
						<a class="nav-link" href="#" disabled sec:authorize="isAuthenticated()"><span sec:authentication="name"></span> <span sec:authentication="principal.authorities"></span></a>
					</div>
					<ul class="navbar-nav navbar-rigth">
						<li sec:authorize="!isAuthenticated()">
							<a class="nav-link" th:href="@{/login}">Login</a>
						</li>
						<li sec:authorize="isAuthenticated()">
							<form id="cerrarSesion" th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-outline-secondary" onclick="document.getElementById(cerrarSesion).submit();">Cerrar sesión</button>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container mt-3">
			<div class="col align-self-center">
				<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" th:if="${success != null}" th:text="${success}"></div>
				<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" th:if="${error != null}" th:text="${error}"></div>
				<div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert" th:if="${info != null}" th:text="${info}"></div>
			</div>
		</div>
	</header>


	<footer th:fragment="footer">
		<div class="container">
			<div class="d-flex justify-content-center">
				<div class="copyright">
					<p>Developed and maintained by <a href="#" target="_blank">company</a></p>
				</div>
			</div>
		</div>
		<!-- http://localhost:8090/h2-console/login -->
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
			integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
			integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
			crossorigin="anonymous"></script>
		<!-- <script th:src="@{/js/jquery-ui.min.js}"></script>-->
	</footer>
</body>

</html>