<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-3">
		<main>
			<h2 th:text="${titulo}"></h2>
			<div th:object="${cliente}" th:remove="tag">
			    <ul class="list-group mt-3" th:if="${#fields.hasErrors('*')}">
				  <li class="list-group-item list-group-item-danger" th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>
			<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
				
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorclass="'border border-danger'"  aria-describedby="nombre">
					<div class="alert alert-danger my-3" role="alert" th:if="${#fields.hasErrors('nombre')}"th:errors="*{nombre}"></div>
				</div>
				<div class="mb-3">
					<label for="apellido" class="form-label">Apellido</label>
					<input type="text" class="form-control" id="apellido" th:field="*{apellido}" th:errorclass="'border border-danger'" aria-describedby="apellido">
					<div class="alert alert-danger my-3" role="alert" th:if="${#fields.hasErrors('apellido')}"th:errors="*{apellido}"></div>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" th:errorclass="'border border-danger'" aria-describedby="email">
					<div class="alert alert-danger my-3" role="alert" th:if="${#fields.hasErrors('email')}"th:errors="*{email}"></div>
				</div>
				<div class="mb-3">
					<label for="createAt" class="form-label">Fecha</label>
					<input type="text" class="form-control" id="email" th:field="*{createAt}" th:errorclass="'border border-danger'" aria-describedby="createAt">
					<div class="alert alert-danger my-3" role="alert" th:if="${#fields.hasErrors('createAt')}"th:errors="*{createAt}"></div>
				</div>
				<div class="mb-3">
				  <label for="formFile" class="form-label">Subir imagen</label>
				  <input class="form-control" type="file" id="file" name="file">
				</div>
				
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</main>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>