<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-3">
		<main>
			<h2 th:text="${titulo}"></h2>
			<a th:href="@{/form}" class="btn btn-primary">Alta cliente</a>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">email</th>
						<th scope="col">Fecha</th>
						<th scope="col">Crear factura</th>
						<th scope="col">Editar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente: ${clientes}">
						<td scope="row"><a class="btn btn-secondary" th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
						<th th:text="${cliente.nombre}"></th>
						<td th:text="${cliente.apellido}"></td>
						<td th:text="${cliente.email}"></td>
						<td th:text="${cliente.createAt}"></td>
						<td><a class="btn btn-light" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'Crear factura'"></a></td>
						<td><a class="btn btn-primary" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
						<td><a class="btn btn-danger" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'" onclick="return confirm('¿Estás seguro de eliminar el registro?');"></a></td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator :: paginacion">
		</main>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>