<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/layout :: head}"></head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>
	<div class="container my-4">
		<main class="d-flex flex-column">

			<div class="card mb-3" style="width: 35rem;">
				<div class="row g-0">
					<div class="col-md-4" th:if="${#strings.length(cliente.foto) >0}">
						<img th:src="@{'/uploads/' + ${cliente.foto}}" class="img-fluid rounded-start"
							th:alt="${cliente.foto}">
					</div>
					<div class="col-md-8">
					<div class="card-header" th:text="${titulo}"></div>
						<div class="card-body">
							<p class="card-text" th:text="${cliente.id}"></p>
							<p class="card-text" th:text="${cliente.nombre}"></p>
							<p class="card-text" th:text="${cliente.apellido}"></p>
							<p class="card-text" th:text="${cliente.email}"></p>
							<p class="card-text"><small class="text-muted" th:text="${cliente.createAt}"></small></p>
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'Crear factura'"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-2">
				<h2 class="fw-light">Detalle de la factura</h2>
				<div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-primary" role="alert"
					th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}">
				</div>
				<div class="table-responsive-sm">
					<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-dark table-striped table-hover table-responsive-sm">
						<thead>
							<tr>
								<th scope="col">Folio</th>
								<th scope="col">Descripción</th>
								<th scope="col">Fecha</th>
								<th scope="col">Total</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Ver</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="factura: ${cliente.facturas}">
								<th scope="row" th:text="${factura.id}"></th>
								<td th:text="${factura.descripcion}"></td>
								<td th:text="${factura.createAt}"></td>
								<td th:text="${factura.total}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'Detalle'" class="btn btn-secondary my-2"></a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/factura/eliminar/' + ${factura.id}}" th:text="'Eliminar'" class="btn btn-danger my-2" onclick="return confirm('¿Estás seguro de eliminar la factura?');"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</main>

	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>